{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/home_styles.css') }}">
{% endblock %}


{% block carousel %}
<div class="slider_section position-relative">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slider_item-box">
                    <div class="slider_item-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="slider_item-detail">
                                        <div>
                                            <h1>
                                                Welcome to <br />
                                                Our Fruits Shop
                                            </h1>
                                            <p>
                                                There are many variations of passages of Lorem
                                                Ipsum available, but the majority have suffered
                                                alteration in some form, by injected humour, or
                                                randomised words which don't look even slightly
                                                believable.
                                            </p>
                                            <div class="d-flex">
                                                <a href="" class="text-uppercase custom_orange-btn mr-3">
                                                    Shop Now
                                                </a>
                                                <a href="" class="text-uppercase custom_dark-btn">
                                                    Contact Us
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="slider_img-box">
                                        <div>
                                            <img src="{{ url_for('.static', filename='images/slide-img.jpg') }}" alt=""
                                                class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slider_item-box">
                    <div class="slider_item-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="slider_item-detail">
                                        <div>
                                            <h1>
                                                Welcome to <br />
                                                Our Fruits Shop
                                            </h1>
                                            <p>
                                                There are many variations of passages of Lorem
                                                Ipsum available, but the majority have suffered
                                                alteration in some form, by injected humour, or
                                                randomised words which don't look even slightly
                                                believable.
                                            </p>
                                            <div class="d-flex">
                                                <a href="" class="text-uppercase custom_orange-btn mr-3">
                                                    Shop Now
                                                </a>
                                                <a href="" class="text-uppercase custom_dark-btn">
                                                    Contact Us
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="slider_img-box">
                                        <div>
                                            <img src="{{ url_for('.static', filename='images/slide-img1.jpg') }}" alt=""
                                                class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slider_item-box">
                    <div class="slider_item-container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="slider_item-detail">
                                        <div>
                                            <h1>
                                                Welcome to <br />
                                                Our Fruits Shop
                                            </h1>
                                            <p>
                                                There are many variations of passages of Lorem
                                                Ipsum available, but the majority have suffered
                                                alteration in some form, by injected humour, or
                                                randomised words which don't look even slightly
                                                believable.
                                            </p>
                                            <div class="d-flex">
                                                <a href="" class="text-uppercase custom_orange-btn mr-3">
                                                    Shop Now
                                                </a>
                                                <a href="" class="text-uppercase custom_dark-btn">
                                                    Contact Us
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="slider_img-box">
                                        <div>
                                            <img src="{{ url_for('.static', filename='images/slide-img2.jpg') }}" alt=""
                                                class="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom_carousel-control">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="outside service_section">
    <div class="container">
        <h2 class="custom_heading">Our Services</h2>
        <p class="custom_heading-text">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have
        </p>
        <div class="">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('.static', filename='images/card-item-1.png') }}"
                        alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Orange</h5>
                        <p class="card-text">
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in some
                            form, by injected humour, or randomised words which don't look
                            even slightly believable.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a href="" class="custom_dark-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('.static', filename='images/card-item-2.png') }}"
                        alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Grapes</h5>
                        <p class="card-text">
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in some
                            form, by injected humour, or randomised words which don't look
                            even slightly believable.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a href="" class="custom_dark-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('.static', filename='images/card-item-3.png') }}"
                        alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">Gauva</h5>
                        <p class="card-text">
                            There are many variations of passages of Lorem Ipsum
                            available, but the majority have suffered alteration in some
                            form, by injected humour, or randomised words which don't look
                            even slightly believable.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a href="" class="custom_dark-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class=" outside tasty_section">
    <div class="container_fluid">
        <h2>WEB ON PYTHON</h2>
    </div>
</div>

<div class="outside comment-container">
    <div class="comment-form">
        <form method="POST">
            <h3>Add your comment</h3>
            {{ comment_form.csrf_token }}
            {% for field in comment_form %}
            <div>
                {{ field }}
                {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            <div><button>Add comment</button></div>
        </form>
    </div>
    <div class="comments">
        {% if comments %}
        {% for comment in comments %}
        <div class="media">
            <div class="comment-img">
                <img width="32px" height="32px" src="{{ url_for('.static', filename='images/user.png') }}" alt="User icon">
            </div>
            <div class="comment-body">
                <span><h5 class="user_name">{{ comment.name }}</h5><small>{{ comment.time }}</small></span>
                <p class="comment-txt">{{ comment.message }}</p>
            </div>
            <!-- <div class="comment-date">
                <p><small>{{ comment.time }}</small></p>
            </div> -->
        </div>
        {% endfor %}
        {% else %}
        <h2>No comment</h2>
        {% endif %}
    </div>
</div>

<div class="outside contact_section">
    <div class="formtxt">
        <h3>Have any questions? <br>Let's get in touch!</h3>
        <p>Contact us if your are thinking of redesigning your garden,
            adding some garden features or simply looking for a bit of garden maintenance.</p>
    </div>
    <div class="form">
        <form method="POST">
            {{ contact_form.csrf_token }}
            {% for field in contact_form %}
            <div>
                {{ field }}
                {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            <div><button>Contact us</button></div>
        </form>
    </div>
</div>
{% endblock %}