{% extends 'base.html' %}

{% block head %}
    <title>Resume</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/resume.css') }}"/>
{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
    <div class="resume">
        <!--Sibe bar-->
        <div class="aside">
            <img class="my-photo" src="{{ url_for('.static', filename='images/photo.jpg') }}" alt="My photo">

            <!--Contact div-->
            <div class="sidebar-class">
                <h3 class="name-of-category sidebar">Contacts</h3>
                <div>
                    <p class="contacts links"><span class="contacts type">N:</span>+38 099 607 65 42</p>
                </div>
                <div>
                    <p class="contacts links"><span class="contacts type">E:</span>nikitagoncarov657@gmail.com</p>
                </div>
            </div>

            <!--Tech Skills-->
            <div class="sidebar-class">
                <h3 class="name-of-category sidebar">Tech Skills</h3>
                <ul class="sidebar-points">
                    {% if techskills %}
                        {% for techskill in  techskills %}
                            <li>{{ techskill.name }}</li>
                        {% endfor %}
                    {% else %}
                        <li>Admin will update soon</li>
                    {% endif %}
                </ul>
            </div>

            <!--Soft Skills-->
            <div class="sidebar-class">
                <h3 class="name-of-category sidebar">Soft Skills</h3>
                <ul class="sidebar-points">
                    <li>Adaptability</li>
                    <li>Communication</li>
                    <li>Teamwork</li>
                </ul>
            </div>
        </div>
        <!--Main content-->
        <div class="free-content">
            <!--About me div-->
            <div>
                <h4 class="occupation-now">Junior Python Back-End Developer</h4>
                <h1 class="name">Nikita Goncharov</h1>

                <p class="bio">
                    Студент-програміст, шукаю підробіток, нові знання та досвід.</p>
            </div>

            <!--My projects-->
            <div class="projects">
                <h3 class="name-of-category">Projects</h3>

                <ol class="projects-list">
                    <li>
                        <a href="https://github.com/Nikita-Goncharov/Layout-cat">CatsTemplate
                            <span><span class="brackets">[</span> HTML5, CSS3 <span class="brackets">]</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Nikita-Goncharov/DjangoArticles">DjangoArticles
                            <span><span class="brackets">[</span> Python, Django <span class="brackets">]</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Nikita-Goncharov/Flask-rotate">Flask-rotate
                            <span><span class="brackets">[</span> Python, Flask <span class="brackets">]</span></span>
                        </a>
                    </li>
                </ol>
            </div>

            <!--My work expirience-->
            <div>
                <h3 class="name-of-category">Work Experience</h3>
                {% if workexperience %}
                    {% for work in workexperience %}
                        <div>
                            <h4 class="profession">{{ work.job }}<span class="orange-word"> {{ work.company }}</span>
                            </h4>
                            <p class="date-where">{{ work.period }} <span class="black-stripe">|</span> Ukraine</p>
                            <div class="companies">
                                {{ work.text }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="companies">Admin will update soon</div>
                {% endif %}

                <!--Education-->
                <div>
                    <h3 class="name-of-category">Education</h3>
                    <h4 class="university">Kharkiv Computer-Technological professional College of NTU "KhPI"</h4>
                    <h5 class="managment">Service of software systems and complexes</h5>
                    <p class="date-where">September 2021 - up to now <span class="black-stripe">|</span> Ukraine</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('.static', filename='js/checking-gitprofile.js') }}"></script>
{% endblock %}
