{% extends 'base.html' %}

{% block head %}
<title>Services</title>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/service_styles.css') }}">
{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
<div class="service_section layout_padding ">

  <form method="POST" enctype="multipart/form-data">
      {{ service_form.csrf_token }} {% for field in service_form %}
      <div>
        {{ field }} {% if field.errors %}
        <ul class="errors">
          {% for error in field.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
      <div><button>Add service</button></div>
    </form>

  <div class="container">
    <h2 class="custom_heading">Our Services</h2>
    <p class="custom_heading-text">
      There are many variations of passages of Lorem Ipsum available, but
      the majority have
    </p>
    <div class=" layout_padding2">
      <div class="card-deck">
        {% if services %}
        {% for service in services %}
        <div class="card">
          <img class="card-img-top" src="{{ url_for('.static', filename='upload/'+ service.filename) }}" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">{{ service.service_title }}</h5>
            <p class="card-text">
              {{ service.description|truncate(10) }}
            </p>
            <div class="d-flex justify-content-center">
              <a href="" class="custom_dark-btn">Read More</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    
  </div>
</div>
{% endblock %}

