@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 992px) {
    .custom_nav-container {
        background-position: center;
    }

    .service_section .card-deck {
        flex-direction: column;
    }

    /* Comments and contact us */
    .comment-container, .contact_section {
        flex-direction: column;
    }

    .formtxt {
        padding: 10px 0;
    }

    .comment-form form {
        width: 100%;
    }

    .comments, .comment-form, .form, .formtxt {
        width: 100%;
    }


    .service_section .card-deck .card {
        margin-bottom: 25px;
    }

    /* Resume */
    .free-content {
        padding: 20px 0 10px 10px;
    }

    .resume {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .info_section .col-md-3 {
        text-align: center;
    }

    .info_section .col-md-3:not(:nth-last-child(1)) {

        margin-bottom: 35px;
    }

    .img_section h2 {

        font-size: 80px;
    }
}


@media (max-width: 600px) {
    /* base.html */
    .footer_section h5 {
        font-size: 18px;
    }

    .footer_section .social-box img {
        width: 30px;
        height: auto;
    }

    .copyright_text {
        font-size: 14px;
    }

    /* Home and contact */
    .contact_section button {
        width: 100%;
        font-size: 14px;
    }

    .formtxt h3 {
        font-size: 18px;
    }

    .formtxt p {
        font-size: 14px;
    }

    .outside {
        margin-top: 0;
        margin-bottom: 0;
    }

    .layout_padding {
        padding: 25px 0;
    }

    .comment-form h3 {
        font-size: 20px;
    }

    .custom_heading {
        font-size: 22px;
    }

    .name {
        font-size: 35px;
    }
}

@media (max-width: 550px) {
    .layout_padding {
        padding: 10px 0;
    }
}


@media (max-width: 400px) {
    .layout_padding {
        padding: 10px 0 0 0;
    }
}


/*
@media (max-width: 360px) {} */


