.contact_section input {
    width: 100%;
    margin: 10px 0;
    padding: 7px 10px;
    border: #838996 solid 1px;
}

.contact_section textarea{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 6px 9px;
    border: #838996 solid 1px;
    resize: none;
}

.contact_section{
    display: flex;
    flex-direction: row;
}

.form, .formtxt{
    width: 50%;
    margin: 30px 0;
}

.formtxt{
    margin: auto;
    padding: 10px 30px;
}

.formtxt h3{
    margin-bottom: 20px;
}

.formtxt p{
    font-size: 17;
    color: #415159;
}

.contact_section button {
    border: none;
    width: 50%;
    background-color: #272727;
    color: #fff;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}
