.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.custom_dark-btn {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    width: 145px;
    outline: 0;
    color: #f7f7f7;
    border: 1px solid transparent
}

.custom_dark-btn {
    background-color: #000
}

.custom_dark-btn:hover {
    border: 1px solid #000;
    color: #000;
    background-color: transparent
}

.custom_heading {
    text-align: center;
    font-weight: 700
}

.custom_heading-text {
    text-align: center
}

.no-services {
    padding: 50px 20px;
    border: #000 solid 2px;
}

.main-container a,
.main-container a:focus,
.main-container a:hover {
    text-decoration: none
}

.service_section .card .card-img-top {
    width: 50px;
    margin: 55px auto 5px auto
}

.service_section .card {
    text-align: center;
    box-sizing: border-box;
    position: relative
}

.service_section .card .card-title {
    color: #fc5d35
}

.service_section .card:hover {
    cursor: pointer;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3)
}

.img_section img {
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center */
}

.img_section h2 {
    font-size: 125px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase
}



.contact_section input {
    width: 100%;
    margin: 10px 0;
    padding: 7px 10px;
    border: #838996 solid 1px;
}

.contact_section textarea{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 6px 9px;
    border: #838996 solid 1px;
    resize: none;
}

.contact_section{
    display: flex;
    justify-content: flex-end;
}

.contact_section .form, .formtxt{
    width: 50%;
}

.formtxt{
    margin: auto;
    padding: 10px 30px;
}

.formtxt h3{
    margin-bottom: 20px;
}

.formtxt p{
    font-size: 17;
    color: #415159;
}

.contact_section button {
    border: none;
    width: 50%;
    background-color: #272727;
    color: #fff;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}





.comment-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 0;
}

.comments {
    width: 50%;
}

.comment-form {
    width: 50%;
}

.comment-form form {
    text-align: center;
    width: 80%;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.comment-form input[type=text],
textarea {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
}

.comment-form textarea{
    height: 200px;
    resize: none;
}

.comment-form input[type=text]:focus,
textarea:focus {
    outline: none;
}


.comment-form button {
    background-color: #242e8a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.comment-form button:hover {
    background-color: #3d4abb;
}

.comment-img img{
    margin: 0 8px;
}

.comment-body h5, small{
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}


.comment-body p{
    margin: 4px 5px 10px 5px;
}

.comment-body {
    width: 80%;
    overflow-wrap: break-word;
}
