@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

}

@media (max-width: 992px) {
    .custom_nav-container {
        background-position: center;
    }

    .service_section .card-deck {
        flex-direction: column;
    }

    /* Comments and contact us */
    .comment-container, .contact_section {
        flex-direction: column;
    }

    .formtxt {
        padding: 10px 0;
    }

    .comment-form form {
        width: 100%;
    }

    .comments, .comment-form, .form, .formtxt {
        width: 100%;
    }


    .service_section .card-deck .card {
        margin-bottom: 25px;
    }

    /* Resume */

    .free-content {
        padding: 20px 0 10px 10px;
    }

    .resume {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .info_section .col-md-3 {
        text-align: center;
    }

    .info_section .col-md-3:not(:nth-last-child(1)) {

        margin-bottom: 35px;
    }

    .img_section h2 {

        font-size: 80px;
    }
}


@media (max-width: 600px) {
    .contact_section button {
        width: 100%;
    }
}

/* @media (max-width: 480px) {}

@media (max-width: 400px) {}

@media (max-width: 360px) {} */


