body {
  font-family: Poppins, sans-serif;
  color: #000;
  background-color: #fff
}

.hero_area {
  height: 98vh;
  background-color: #f7f7f7
}

.hero_area.sub_pages {
  height: auto
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px
}

.header_section .nav_container {
  margin: 0 auto
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #343434;
  text-align: center
}

a,
a:focus,
a:hover {
  text-decoration: none
}

a:focus,
a:hover {
  color: initial
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #fafcfd
}

div .outside {
  margin: 30px 0
}

.navbar-brand {
  display: flex;
  align-items: center
}

.navbar-brand img {
  width: 45px;
  margin-right: 5px
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #2e2e2d;
  margin-top: 5px
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0
}

.custom_nav-container .navbar-toggler {
  outline: 0
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px
}

.carousel-item {
  height: 100%
}

.contact_section button {
  border: none;
  background-color: #fc5d35;
  color: #fff;
  padding: 8px 40px;
  text-transform: uppercase;
  font-size: 14px
}

.info_section ul {
  padding: 0
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px
}

.info_section .social-box {
  margin: 20px 0
}

.social-box img {
  width: 40px;
  height: auto
}

.social-box a {
  margin-right: 5px
}

.footer_section {
  background-color: #efeded;
  padding: 20px 0;
  font-family: Roboto, sans-serif
}

.footer_section p {
  color: #191818;
  margin: 0;
  text-align: center
}

.footer_section a {
  color: #191818
}