{% extends 'base_auth.html' %} 


{% block head %}
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/authorization.css') }}">
{% endblock %} 

{% block content %}
{% if current_user.is_authenticated %}
<div><h2>You are logged in under name {{ current_user.name }}. You must be logged out to continue.</h2></div>
{% else %}
<div class="container">
  <h1>Register</h1>
  <form method="post">
    {{ form.csrf_token }}
    <div>
      {{ form.name }}

      {% if form.name.errors %}
      <ul>
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div>
      {{ form.email }}

      {% if form.email.errors %}
      <ul>
        {% for error in form.email.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div>
      {{ form.password1 }}

      {% if form.password1.errors %}
      <ul>
        {% for error in form.password1.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div>
      {{ form.password2 }}

      {% if form.password2.errors %}
      <ul>
        {% for error in form.password2.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <button>Register</button>
  </form>
</div>

{% endif %}
{% endblock %}
